html,
body {
  margin: 0;
  padding: 0;
  block-size: 100%;
  inline-size: 100%;
}

html {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  display: grid;
  place-content: center;
}

* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: max-content 6ch max-content;
  gap: 0.5rem;
  align-items: center;
}

main > input {
  font-size: inherit;
  text-align: end;
}

main > button {
  font-size: inherit;
}
